[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/nob.h"]
	path = thirdparty/nob.h
	url = https://github.com/tsoding/nob.h.git
[submodule "thirdparty/flag.h"]
	path = thirdparty/flag.h
	url = https://github.com/tsoding/flag.h.git
