[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/nob.h"]
	path = thirdparty/nob.h
	url = https://github.com/tsoding/nob.h.git
[submodule "thirdparty/flag.h"]
	path = thirdparty/flag.h
	url = https://github.com/tsoding/flag.h.git
[submodule "thirdparty/raygui"]
	path = thirdparty/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "thirdparty/tools/ttf2c"]
	path = thirdparty/tools/ttf2c
	url = https://github.com/insane-person/ttf2c.git
